@charset "utf-8";

section{
  overflow: hidden;
  border: 2px dotted rgba(0,204,255,0.475);
  width: 90%;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

div{
    border: 2px dotted rgba(255,0,204,0.475);
    width: 30%;
    float: left;
    margin-right: 1.8%;
    margin-left: 1.8%
    margin-bottom: 10px;
}

div:nth-of-type(3n){
    margin-right: 1.5%;
}

div:nth-of-type(3n + 1){
    clear: left;
}

figure{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

img{
  width: 100%;
  margin-top: 2px;
  margin-bottom: 0px;
}

figcaption{
  margin-top: 0px;
}

h3, h4{
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}